@inherits LayoutComponentBase
@inject AuthStateProvider AuthStateProvider
@if (AuthStateProvider.IsInitializing)
{
    <p>Initializing state ...</p>
}
else
{
    @Body
}
@code  {
    protected override async Task OnInitializedAsync()
    {
        while (AuthStateProvider.IsInitializing)
        {
            await Task.Delay(500);
        }
    }
}